package bootstrap

import (
    _ "{{.Name}}/database/migrations"

    "{{.Name}}/routes"

    "github.com/beyond3800/hawk/engine"
)

func App() *hawk.Hawk {

    app := routes.SetupRoutes()

    return app
}