package bootstrap

import (
    _ "{{.Name}}/database/migrations"
    "github.com/beyond3800/hawk/bootstrap"
    "{{.Name}}/routes"
    
    "github.com/beyond3800/hawk/engine"
)

func App() *hawk.Hawk {

    bootstrap.Run()
    app := routes.SetupRoutes()
    return app
}