package bootstrap

import (
    _ "{{.Name}}/database/migrations"

    "{{.Name}}/routes"

    "github.com/beyond3800/hawk/engine"
)

func App() *hawk.Hawk {

    Run()
    app := routes.SetupRoutes()
	port := os.Getenv("APP_PORT")

	app.Run(port)
    return app
}