package Controllers

import (
	"github.com/beyond3800/hawk/engine"
)

type {{.Name}} struct {}
func ({{.ShortName }}c * {{.Name}}) Index(c *hawk.Context) {
	// TODO: implement index
}

func ({{.ShortName }}c * {{.Name}}) Store(c *hawk.Context) {
	// TODO: implement store
}

func ({{.ShortName }}c * {{.Name}}) Show(c *hawk.Context) {
	// TODO: implement show
}

func ({{.ShortName }}c * {{.Name}}) Update(c *hawk.Context) {
	// TODO: implement update
}

func ({{.ShortName }}c * {{.Name}}) Destroy(c *hawk.Context) {
	// TODO: implement destroy
}