package seeders

type DatabaseSeeder struct{}

func (DatabaseSeeder) Run() error {

	// Register your seeders here.
	//
	// Example:
	//
	// if err := UserSeeder{}.Run(); err != nil {
	//     return err
	// }

	return nil
}