package Migrations

import (

    "github.com/beyond3800/hawk/migration"
    "github.com/beyond3800/hawk/database"
)

type {{.Name}}Migration struct{}

func ({{.Name}}Migration) Up() error {

	table := database.HawkDB().Schema().Table("{{.TableName}}")

	table.BigInt("id").AutoIncrement().Primary()
	table.String("name", 255).Required()

	return table.Create()
}

func ({{.Name}}Migration) Down() error {
    table := database.HawkDB().Schema().Table("{{.TableName}}")
 	return table.Drop().Execute()
}

func init (){
    migration.Register("{{.MigrationName}}",{{.Name}}Migration{})
}