package Migrations

import (

    "github.com/beyond3800/hawk/migration"
	"github.com/beyond3800/hawk/database"
)

type {{.Name}}Migration struct{}

func ({{.Name}} {{.Name}}Migration) Up() error {
    _, err := database.HawkDB().Conn.Exec(`
        CREATE TABLE {{.TableName}} (
            id BIGINT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(255),
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
        )
    `)

    return err
}

func ({{.Name}} {{.Name}}Migration) Down() error {
    _, err := database.HawkDB().Conn.Exec(`
        DROP TABLE {{.TableName}}
    `)

    return err
}

func init (){
    migration.Register("{{.MigrationName}}",{{.Name}}Migration{})
}