package Repository

import(
	"context"
	_"github.com/beyond3800/hawk/core/database"
)
type {{.Name}} struct {}

func ({{.ShortName }} * {{.Name}}) Index() {
	// TODO: implement index
}

func ({{.ShortName }} * {{.Name}}) Store() {
	// TODO: implement store
}

func ({{.ShortName }} * {{.Name}}) Show() {
	// TODO: implement show
}

func ({{.ShortName }} * {{.Name}}) Update() {
	// TODO: implement update
}

func ({{.ShortName }} * {{.Name}}) Destroy() {
	// TODO: implement destroy
}