package seeders

//type {{.Name}}Seeder struct{}

//func ({{.Name}}Seeder) Run() error {

//	for i := 0; i < 50; i++ {
//		_, err := factories.{{.Name}}Factory{}.Create()
//		if err != nil {
//			return err
//		}
//	}

//	return nil
//}