package console

import (
	"fmt"
	"{{.Name}}/database/seeders"
)


func Seed() error {
	err := seeders.DatabaseSeeder{}.Run()
	if err == nil {
		fmt.Println("Database seeded successfully")
	}
	return err
}

func init() {
	Register("hawk_seed", Seed)


func init() {
	Register("db:seed", Seed)
}