package Services
		
import(

)

type {{.Name}} struct {}

func ({{.Name}}) Index() {
	
}

func ({{.Name}}) Store() {
	
}

func ({{.Name}}) Show() {
}

func ({{.Name}}) Update() {
}

func ({{.Name}}) Destroy() {
}

