		
package Models 

import (
	"database/sql"
	"time"
)

type {{.Name}} struct {
    ID          string        `json:"id" db:"id"`
    Name        string        `json:"name" validate:"required" db:"name"`
    Created_at  time.Time     `json:"created_at"`
    Updated_at  sql.NullTime  `json:"updated_at"`
}
    