package services
		
import(

)

type {{.Name}} struct {}

func ({{.ShortName }} * {{.Name}}) Index() {
	
}

func ({{.ShortName }} * {{.Name}}) Store() {
	
}

func ({{.ShortName }} * {{.Name}}) Show() {
}

func ({{.ShortName }} * {{.Name}}) Update() {
}

func ({{.ShortName }} * {{.Name}}) Destroy() {
}

